version: "3.9"
services:
  postgres:
    image: postgres:13.3
    restart: always
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - .:/var/lib/postgresql/data

  cache:
    image: redis:6.2-alpine
    restart: always
    depends_on:
      - postgres
    volumes: 
      - ./cache:/data
   
  file-server:
    image: file-server
    build: .
    env_file:
      - ./.env
    restart: 
      always


  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
    volumes:
      - ./ngnix/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - file-server
